<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <header>
        <a href="#">Home</a>
        <span>|</span>
        <a href="#">About</a>
        <span>|</span>
        <a href="#">Contact</a>
    </header>

    <div id="titleFrame">
        <h1>Madly Speaking</h1>
        <h3>A MadLibs Generator</h3>
    </div>

    <div id="inputs">
        <form action="/submit" method="POST">
            <label for="prompt">Please enter a MadLib prompt...</label><br>
            <input type="text"><br><br>
        </form>

        <form action="/submit" method="POST">
            <label for="tone">Add Tone to Story</label><br>
            <input type="text"><br><br>
        </form>

        <button>Generate for Me</button>
    </div>
    
    <div id="bunnyPic">
        <img src="{{ url_for('static', filename='bunny.png') }}" alt="bunny" width="50%" height="auto">
    </div>

    
    <footer></footer>
</body>
</html>