@font-face {
    font-family: 'PalatinoRoman';
    src: url('{{ url_for("static", filename="fonts/palatino-light.ttf") }}') format('truetype');
    font-weight: 50;
    font-style: normal;
  }
  

body{
    background-color: rgb(247, 235, 182);
    margin: 0;
    padding: 0;
}

header{
    background-color: rgb(225, 225, 225);
    border-bottom: 3px solid #ffcc00;
    display: flex;
    width: 100%;
    align-items: center;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin-bottom: 2%;
    padding: 3%;
    gap: 3rem;
    
}

header a{
    text-decoration: none;
    color: black;
    
}

header a:hover{
    color: aliceblue;
    
}

#titleFrame{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'PalatinoRoman';
    font-weight: 50;
    margin-top: 10%;
}

#titleFrame h1{
    font-size: 450%;
    color: #5b3e12;
    padding-bottom: 0;
    margin-bottom: 0;
    font-weight: lighter;
}

#titleFrame h3{
    font-size: 300%;
    color: #b77d25;
    padding-bottom: 0;
    margin: 0;
    margin-bottom: 2%;
    font-weight: lighter;
}


#inputs{
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'PalatinoRoman';
}

#inputs form #promptBar{
    width: 50%;
    padding: 18px 50px 18px 20px;
    background-color: #dddada;
    border: 0px solid #807e7e;
    font-family: 'PalatinoRoman';
    border-radius: 999px;
    font-size: 25px;
    outline: none;
    transition: border-color 0.3s ease;
}

#promptBar::placeholder {
    text-align: center;
}

#submitArrow {
    left: -15px;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: #555;
}

#bunnyPic{
    position: fixed; 
    bottom: 0.5%; 
    left: 2%;
    max-width: 50%;
}

#story-output {
    background-color: #dddada; 
    color: black;
    padding: 20px;
    margin: 30px auto;
    width: 60%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'PalatinoRoman';
}

#back-home {
    text-align: center;
    margin-top: 30px;
}

.home-button {
    background-color: #b77d25;
    color: white;
    padding: 12px 24px;
    text-decoration: none;
    font-family: 'PalatinoRoman';
    border-radius: 25px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.home-button:hover {
    background-color: #5b3e12;
}


footer{
    background-color: rgb(130, 130, 130);
    border-top: 3px solid #ffcc00;
    width: 100%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin-top: 2%;
    position: fixed;
    bottom: 0;
    z-index: -1;
}